/******************************* General settings *******************************/

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/******************************* Fonts *******************************/

h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 12px;
}

h2 {
    font-size: 30px;
    color: white;
    margin-top: 35px;
    margin-bottom: 12px;
}

p, a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/******************************* Landingpage *******************************/

.container {
    height: 100vh;
    width: 100vw;
    background-image:
        linear-gradient(102deg, rgba(98, 197, 132, 0.40), rgba(11, 79, 108, 0.55)), 
        url(assets/tobiasgujer-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin-top: 24vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.handsign {
    height: auto;
    width: 70vh;
}

/******************************* Icons *******************************/

.icons {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;
    transition: 0.3s ease-out;
}

.icons:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.icon-phone {
    background-image: url(assets/icon-phone.svg);
}

.icon-email {
    background-image: url(assets/icon-email.svg);
}

.icon-linkedin {
    background-image: url(assets/icon-linkedin.svg);
}

.icon-gitlab {
    background-image: url(assets/icon-gitlab.svg);
    height: 43px;
    width: 43px;
}

.icons-top {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

/******************************* Footer *******************************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.footer-top {
    display: flex;
    gap: 25px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px
}

/******************************* Imprint *******************************/

.container-imprint {
    height: 100%;
    width: 100vw;
    background-image:
        linear-gradient(102deg, rgba(83, 167, 112, 0.5), rgba(10, 65, 88, 0.65));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-imprint {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}