<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=Nma0MJQwQ4">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=Nma0MJQwQ4">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=Nma0MJQwQ4">
<link rel="manifest" href="/favicons/site.webmanifest?v=Nma0MJQwQ4">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=Nma0MJQwQ4" color="#62c584">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=Nma0MJQwQ4">
<meta name="msapplication-TileColor" content="#138fc4">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=Nma0MJQwQ4">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=Nma0MJQwQ4">
<meta name="theme-color" content="#62c584">